@using BlazorDemoApp.Shared.Checkout
@using BlazorDemoApp.Shared.Data
@inject IProductStore Store

@if (Command != null)
{
    <EditForm Model="Command" method="post" OnValidSubmit="SubmitOrder" FormName="checkout">
        <DataAnnotationsValidator/>

        <h4>Bill To:</h4>
        <AddressEntry @bind-Value="Command.BillingAddress"/>

        <h4>Ship To:</h4>
        <AddressEntry @bind-Value="Command.ShippingAddress"/>

        <button type="submit">Place Order</button>
        <ValidationSummary/>
    </EditForm>
}

@if (submitted)
{
    <div class="orderSummary">
        <p>Hey, look at that, you placed the order!</p>
        <h2>Order Summary</h2>

        <h3>Shipping To:</h3>
        <dl>
            <dt>Name</dt>
            <dd>@Command.BillingAddress.Name</dd>
            <dt>Address 1</dt>
            <dd>@Command.BillingAddress.AddressLine1</dd>
            <dt>Address 2</dt>
            <dd>@Command.BillingAddress.AddressLine2</dd>
            <dt>City</dt>
            <dd>@Command.BillingAddress.City</dd>
            <dt>Post Code</dt>
            <dd>@Command.BillingAddress.PostCode</dd>
        </dl>
    </div>
}

@code {

    [SupplyParameterFromForm]
    public PlaceOrderCommand? Command { get; set; }

    protected override void OnInitialized()
    {
        Command ??= Store.GetCheckout();
    }

    bool submitted = false;

    private void SubmitOrder()
    {
        submitted = true;
    }

}